<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))) {
            window.location.href = "http://www.tjresearch.cn";
        }
        function token() {
            var time = 1000 * 60 * 15;
            var sessionData = sessionStorage.getItem("Authentication");
            if (sessionData == null || JSON.parse(sessionData).data == undefined) {
                if (window.location.href.split("token=").length == 1) {
                    sessionStorage.removeItem("Authentication");
                } else {
                    sessionStorage.removeItem("Authentication");
                    sessionStorage.setItem("Authentication", JSON.stringify({
                        data: parseURL(window.location.href).token,
                        time: new Date().getTime()
                    }));
                    window.location.href = getUrlParam(window.location.href);
                }
            } else if (new Date().getTime() - JSON.parse(sessionData).time > time) {
                sessionStorage.removeItem("Authentication");
                sessionStorage.setItem("Authentication", JSON.stringify({
                    data: parseURL(window.location.href).token,
                    time: new Date().getTime()
                }));
                window.location.href = getUrlParam(window.location.href);
            }
        }
        //获取url中的参数
        function parseURL(url) {
            var urlCopy = url.replace(/\&amp;/g, "&").split("?")[1];
            var res = {};
            if (urlCopy) {
                var para = urlCopy.split("&");
                var len = para.length;
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr = para[i].split("=");
                    res[arr[0]] = decodeURI(decodeURI(arr[1]))
                }
            }
            return res;
        };
        // 切token
        function getUrlParam(param) {
            var aa = parseURL(param),
                url = param.split("?")[0],
                paramString = "?";
            delete aa.token;
            if (Object.keys(aa) == 1) {
                Object.keys(aa).forEach(function (v) {
                    paramString = paramString + v + "=" + aa[v];
                })
            } else {
                for (var i = 0; i < Object.keys(aa).length; i++) {
                    if (i == Object.keys(aa).length - 1) {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]];
                    } else {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]] + "&";
                    }
                }
            }
            if (paramString != "?") {
                url += paramString;
            }
            return url;
        }
        token();
    </script>
    <!-- 公用css -->
    <link rel="stylesheet" href="./../../assets/css/common/reset.css">
    <link rel="stylesheet" href="./../../assets/css/common/base.css">
    <link rel="stylesheet" href="./../../assets/css/dist/dialog.css">
    <link rel="stylesheet" href="./../../assets/css/Secondary_page/energy_home.css">
</head>
<body>
    <!-- container st -->
    <div class="container">
        <div class="main">
            <div class="back_wrap">
                <a class="back" href="./../forecast.html">
                </a>
                <div class="energy_title_wrap">
                    <div class="energy_title">增长动能</div>
                    <div class="energy_price"></div>
                </div>
                <div class="title_info">指标说明</div>
            </div>
            <div class="energy_box">
                <ul class="energy_demand">
                    <!-- <li class="energy_box_list">
                        <div class="no_sign_in_layer">
                            <span>登录后即可查看</span>
                        </div>
                        <a href="./energy_radarPage.html" class="energy_info_link">
                            <div class="energy_list_title">
                                <span class="energy_list_source">需求侧总量来源</span>
                                <span class="energy_list_time">2019-08</span>
                            </div>
                            <ul class="energy_list_ul">
                                <li class="energy_industry_list">居民消费</li>
                                <li class="energy_industry_list">政府消费</li>
                                <li class="energy_industry_list">固定资本形成</li>
                                <li class="energy_industry_list">存货</li>
                                <li class="energy_industry_list">净出口</li>
                            </ul>
                        </a>
                    </li>

                    <li class="energy_box_list">
                        <div class="no_sign_in_layer">
                            <span>登录后即可查看</span>
                        </div>
                        <a href="./energy_radarPage.html" class="energy_info_link">
                            <div class="energy_list_title">
                                <span class="energy_list_source">需求侧总量来源</span>
                                <span class="energy_list_time">2019-08</span>
                            </div>
                            <ul class="energy_list_ul">
                                <li class="energy_industry_list">居民消费</li>
                                <li class="energy_industry_list">政府消费</li>
                                <li class="energy_industry_list">固定资本形成</li>
                                <li class="energy_industry_list">存货</li>
                                <li class="energy_industry_list">净出口</li>
                            </ul>
                        </a>
                    </li> -->
                </ul>
                <ul class="energy_supply">
                    <!-- <li class="energy_box_list">
                        <div class="no_sign_in_layer">
                            <span>登录后即可查看</span>
                        </div>
                        <a href="./energy_radarPage.html" class="energy_info_link">
                            <div class="energy_list_title">
                                <span class="energy_list_source">需求侧总量来源</span>
                                <span class="energy_list_time">2019-08</span>
                            </div>
                            <ul class="energy_list_ul">
                                <li class="energy_industry_list">
                                    <b>居民消费政府消费政府消费政府消费政府消费政府消费政府消费政府消费政府消费</b>
                                </li>
                                <li class="energy_industry_list">政府消费</li>
                                <li class="energy_industry_list">固定资本形成</li>
                                <li class="energy_industry_list">存货</li>
                                <li class="energy_industry_list">净出口</li>
                            </ul>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./../../assets/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/sizerem.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/common.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/dialog.js"></script>
    <script type="text/javascript" src="./../../assets/js/Secondary_page/energy_home.js"></script>
</body>

</html>