<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))) {
            window.location.href = "http://www.tjresearch.cn";
        }
        function token() {
            var time = 1000 * 60 * 15;
            var sessionData = sessionStorage.getItem("Authentication");
            if (sessionData == null || JSON.parse(sessionData).data == undefined) {
                if (window.location.href.split("token=").length == 1) {
                    sessionStorage.removeItem("Authentication");
                } else {
                    sessionStorage.removeItem("Authentication");
                    sessionStorage.setItem("Authentication", JSON.stringify({
                        data: parseURL(window.location.href).token,
                        time: new Date().getTime()
                    }));
                    window.location.href = getUrlParam(window.location.href);
                }
            } else if (new Date().getTime() - JSON.parse(sessionData).time > time) {
                sessionStorage.removeItem("Authentication");
                sessionStorage.setItem("Authentication", JSON.stringify({
                    data: parseURL(window.location.href).token,
                    time: new Date().getTime()
                }));
                window.location.href = getUrlParam(window.location.href);
            }
        }
        //获取url中的参数
        function parseURL(url) {
            var urlCopy = url.replace(/\&amp;/g, "&").split("?")[1];
            var res = {};
            if (urlCopy) {
                var para = urlCopy.split("&");
                var len = para.length;
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr = para[i].split("=");
                    res[arr[0]] = decodeURI(decodeURI(arr[1]))
                }
            }
            return res;
        };
        // 切token
        function getUrlParam(param) {
            var aa = parseURL(param),
                url = param.split("?")[0],
                paramString = "?";
            delete aa.token;
            if (Object.keys(aa) == 1) {
                Object.keys(aa).forEach(function (v) {
                    paramString = paramString + v + "=" + aa[v];
                })
            } else {
                for (var i = 0; i < Object.keys(aa).length; i++) {
                    if (i == Object.keys(aa).length - 1) {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]];
                    } else {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]] + "&";
                    }
                }
            }
            if (paramString != "?") {
                url += paramString;
            }
            return url;
        }
        token();
    </script>
    <!-- 公用css -->
    <link rel="stylesheet" href="./../../assets/css/common/reset.css">
    <link rel="stylesheet" href="./../../assets/css/common/base.css">
    <link rel="stylesheet" href="./../../assets/css/dist/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./../../assets/css/dist/dialog.css">
    <link rel="stylesheet" href="./../../assets/css/dist/mescroll.css">
    <link rel="stylesheet" href="./../../assets/css/Secondary_page/energy.css">
</head>

<body>
    <div class="container">
        <div class="main" id="main">
            <div class="energy">
                <div class="energy_chart_wrap">
                    <div class="header">
                        <div class="back"></div>
                        <div class="energy_title">经济增长动能</div>
                        <div class="follow">+收藏</div>
                    </div>
                    <div class="swiper-container">
                        <div class="my-pagination">
                            <ul class="my-pagination-ul energy_tab_ul">
                            </ul>
                        </div>
                        <div class="swiper-wrapper energy_swiper_wrap">
                            <div class="swiper-slide energy_chart_slide">
                                <div id="total" class="energy_chart">
                                </div>
                            </div>
                            <div class="swiper-slide energy_chart_slide">
                                <div id="proportion" class="energy_chart">
                                </div>
                            </div>
                            <div class="swiper-slide energy_chart_slide">
                                <div id="speed" class="energy_chart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 专家评论 -->
                <div class="comment">
                    <div class="title">首席专家评论</div>
                    <div class="content">
                        <section class="article"></section>
                        <a href="javascript:;">全部专家评论 ></a>
                        <div class="operate">
                            <div class="btns">
                                <div class="support">支持</div>
                                <div class="oppose">反对</div>
                            </div>
                            <div class="result">
                                <!-- <div class="percent">
                                    <div class="support_percent">支持：<span></span></div>
                                    <div class="oppose_percent">反对：<span></span></div>
                                </div>
                                <div class="support"></div>
                                <div class="oppose"></div> -->
                                <div class="tip">你已经选择<span></span>,恭喜您投票成功。</div>
                                <div id="result_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tips">暂无数据</div>
                </div>
                <!-- 精彩评论 -->
                <div class="opinion">
                    <div class="title">精彩评论</div>
                    <div class="content">
                        <ul class="opinion_ul">
                            <!-- <li>
                                <div class="user">
                                    <div class="tips">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <p>admin</p>
                                            <p>2018-09-20 16:01</p>
                                        </div>
                                    </div>
                                    <div class="btns">
                                        <p>11.256万</p>
                                        <div class="support"></div>
                                        <div class="oppose"></div>
                                        <div class="reply">回复</div>
                                    </div>
                                </div>
                                <div class="content">2013年2月28日，结合移动手机使用场景，百度翻译正式推出Android手机客户端。</div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- 最新评论 -->
                <div class="newOpinion">
                    <div class="title">最新评论</div>
                    <div class="content" id="newOpinion">
                    </div>
                </div>
            </div>
            <ul class="opinion_ul" id="opinion_ul"></ul>
        </div>
        <div class="publish" id="publish">
            <textarea id="txt" placeholder="发表自己的观点"></textarea>
            <p class="send">发送</p>
        </div>
    </div>
    <script type="text/javascript" src="./../../assets/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/sizerem.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/common.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/swiper-3.4.2.min.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/dialog.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/mescroll.js"></script>
    <script type="text/javascript" src="./../../assets/js/Secondary_page/energy.js"></script>
</body>

</html>