<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))) {
            window.location.href = "http://www.tjresearch.cn";
        }
        function token() {
            var time = 1000 * 60 * 15;
            var sessionData = sessionStorage.getItem("Authentication");
            if (sessionData == null || JSON.parse(sessionData).data == undefined) {
                if (window.location.href.split("token=").length == 1) {
                    sessionStorage.removeItem("Authentication");
                } else {
                    sessionStorage.removeItem("Authentication");
                    sessionStorage.setItem("Authentication", JSON.stringify({
                        data: parseURL(window.location.href).token,
                        time: new Date().getTime()
                    }));
                    window.location.href = getUrlParam(window.location.href);
                }
            } else if (new Date().getTime() - JSON.parse(sessionData).time > time) {
                sessionStorage.removeItem("Authentication");
                sessionStorage.setItem("Authentication", JSON.stringify({
                    data: parseURL(window.location.href).token,
                    time: new Date().getTime()
                }));
                window.location.href = getUrlParam(window.location.href);
            }
        }
        //获取url中的参数
        function parseURL(url) {
            var urlCopy = url.replace(/\&amp;/g, "&").split("?")[1];
            var res = {};
            if (urlCopy) {
                var para = urlCopy.split("&");
                var len = para.length;
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr = para[i].split("=");
                    res[arr[0]] = decodeURI(decodeURI(arr[1]))
                }
            }
            return res;
        };
        // 切token
        function getUrlParam(param) {
            var aa = parseURL(param),
                url = param.split("?")[0],
                paramString = "?";
            delete aa.token;
            if (Object.keys(aa) == 1) {
                Object.keys(aa).forEach(function (v) {
                    paramString = paramString + v + "=" + aa[v];
                })
            } else {
                for (var i = 0; i < Object.keys(aa).length; i++) {
                    if (i == Object.keys(aa).length - 1) {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]];
                    } else {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]] + "&";
                    }
                }
            }
            if (paramString != "?") {
                url += paramString;
            }
            return url;
        }
        token();
    </script>
    <!-- 公用css -->
    <link rel="stylesheet" href="./../../assets/css/common/reset.css">
    <link rel="stylesheet" href="./../../assets/css/common/base.css">
    <link rel="stylesheet" href="./../../assets/css/dist/dialog.css">
    <link rel="stylesheet" href="./../../assets/css/dist/mescroll.css">
    <link rel="stylesheet" href="./../../assets/css/Secondary_page/question_detail.css">
</head>
<body>
    <!-- container st -->
    <div class="container">
        <div class="main">
            <div id="questionDetail" class="question_detail mescroll">
                <div class="back_wrap">
                    <a class="back" href="./../participation.html">
                        <!-- <img src="./../../assets/images/btn/back_bg.png">
                        <p class="back_text">返回</p> -->
                    </a>
                </div>
                <section class="question_info_wrap">
                    <!-- <div class="question_con">
                                <p class="question_title">${qu</p>
                            </div>
                            <div class="question_reply">
                                <em class="reply_num">${qu</em>
                                <span class="reply_text">个回答</span>
                            </div> -->
                </section>
                <ul id="answerUl" class="answer_ul">
                    <!-- <li class="answer_list">
                                <div class="answer_user">
                                    <span class="user_avatar"></span>
                                    <span class="user_name">${li</span>
                                </div>
                                <div class="answer_con">
                                    <p class="answer_txt">${li</p>
                                </div>
                                <div class="answer_handle">
                                    <div class="answer_attitude" parent_id="${list.fCommentId}">
                                        <span class="hand like"></span>
                                        <i class="like_num">${li</i>
                                        <span class="hand dislike"></span>
                                        <i class="dislike_num">${li</i>
                                        <span class="answer_comment">评论</span>
                                        <i class="comment_num">${li</i>
                                    </div>
                                </div>
                                <div class="answer_response">
                                    <ul class="answer_response_ul">
                                        <li class="answer_response_list justify">
                                            <span class="act_response">小明</span>
                                            <i class="colon">:</i>
                                            我是John Li, 我的车子修好了没有？多少钱？能便宜一点吗？能开电子发票吗？能扫一扫支付吗？
                                        </li>
                                        <li class="answer_response_list justify">
                                            <span class="act_response">小明</span>
                                            <i class="response_txt">回复</i>
                                            <span class="unact_response">小红</span>
                                            <i class="colon">:</i>
                                            我是John Li, 我的车子修好了没有？多少钱？
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                </ul>
            </div>
        </div>
        <footer class="publish">
            <textarea id="txt" placeholder="回答问题"></textarea>
            <!-- <input type="text" id="txt" placeholder="回答问题" /> -->
            <p class="send">发送</p>
        </footer>
    </div>
    <script type="text/javascript" src="./../../assets/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/sizerem.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/common.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/dialog.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/mescroll.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/dropload.js"></script>
    <script type="text/javascript" src="./../../assets/js/Secondary_page/question_detail.js"></script>
</body>

</html>