<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>系统指引</title>
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))) {
            window.location.href = "http://www.tjresearch.cn";
        }
        function token() {
            var time = 1000 * 60 * 15;
            var sessionData = sessionStorage.getItem("Authentication");
            if (sessionData == null || JSON.parse(sessionData).data == undefined) {
                if (window.location.href.split("token=").length == 1) {
                    sessionStorage.removeItem("Authentication");
                } else {
                    sessionStorage.removeItem("Authentication");
                    sessionStorage.setItem("Authentication", JSON.stringify({
                        data: parseURL(window.location.href).token,
                        time: new Date().getTime()
                    }));
                    window.location.href = getUrlParam(window.location.href);
                }
            } else if (new Date().getTime() - JSON.parse(sessionData).time > time) {
                sessionStorage.removeItem("Authentication");
                sessionStorage.setItem("Authentication", JSON.stringify({
                    data: parseURL(window.location.href).token,
                    time: new Date().getTime()
                }));
                window.location.href = getUrlParam(window.location.href);
            }
        }
        //获取url中的参数
        function parseURL(url) {
            var urlCopy = url.replace(/\&amp;/g, "&").split("?")[1];
            var res = {};
            if (urlCopy) {
                var para = urlCopy.split("&");
                var len = para.length;
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr = para[i].split("=");
                    res[arr[0]] = decodeURI(decodeURI(arr[1]))
                }
            }
            return res;
        };
        // 切token
        function getUrlParam(param) {
            var aa = parseURL(param),
                url = param.split("?")[0],
                paramString = "?";
            delete aa.token;
            if (Object.keys(aa) == 1) {
                Object.keys(aa).forEach(function (v) {
                    paramString = paramString + v + "=" + aa[v];
                })
            } else {
                for (var i = 0; i < Object.keys(aa).length; i++) {
                    if (i == Object.keys(aa).length - 1) {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]];
                    } else {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]] + "&";
                    }
                }
            }
            if (paramString != "?") {
                url += paramString;
            }
            return url;
        }
        token();
    </script>
    <!-- 公用css -->
    <link rel="stylesheet" href="./../../assets/css/common/reset.css">
    <link rel="stylesheet" href="./../../assets/css/common/base.css">
    <link rel="stylesheet" href="./../../assets/css/dist/dialog.css">
    <link rel="stylesheet" href="./../../assets/css/Secondary_page/forecast_describe.css">
    <link rel="stylesheet" href="./../../assets/css/dist/mescroll.css">
</head>

<body>
    <div class="container">
        <div class="main">
            <header>
                <div class="title">系统指引</div>
                <div class="back">
                    <a href="./../forecast.html"></a>
                </div>
            </header>
            <div class="content">
                <!-- <p><span>指标说明：</span>系统以GFP为出发点和主线构造而成，而GFP是在对现有统计体系中的GDP重要变革基础上形成的。</p> -->
            </div>
        </div>
    </div>
    <!--移动端适配-->
    <script type="text/javascript" src="./../../assets/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/sizerem.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script type="text/javascript" src="./../../assets/js/common/common.js"></script>
    <script src="./../../assets/js/dist/dialog.js"></script>
    <script type="text/javascript" src="./../../assets/js/dist/mescroll.js"></script>
    <script type="text/javascript" src="./../../assets/js/Secondary_page/system_describe.js"></script>
</body>

</html>