<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title></title>
    <script>
        if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))) {
            window.location.href = "http://www.tjresearch.cn";
        }
        function token() {
            var time = 1000 * 60 * 15;
            var sessionData = sessionStorage.getItem("Authentication");
            if (sessionData == null || JSON.parse(sessionData).data == undefined) {
                if (window.location.href.split("token=").length == 1) {
                    sessionStorage.removeItem("Authentication");
                } else {
                    sessionStorage.removeItem("Authentication");
                    sessionStorage.setItem("Authentication", JSON.stringify({
                        data: parseURL(window.location.href).token,
                        time: new Date().getTime()
                    }));
                    window.location.href = getUrlParam(window.location.href);
                }
            } else if (new Date().getTime() - JSON.parse(sessionData).time > time) {
                sessionStorage.removeItem("Authentication");
                sessionStorage.setItem("Authentication", JSON.stringify({
                    data: parseURL(window.location.href).token,
                    time: new Date().getTime()
                }));
                window.location.href = getUrlParam(window.location.href);
            }
        }
        //获取url中的参数
        function parseURL(url) {
            var urlCopy = url.replace(/\&amp;/g, "&").split("?")[1];
            var res = {};
            if (urlCopy) {
                var para = urlCopy.split("&");
                var len = para.length;
                var arr = [];
                for (var i = 0; i < len; i++) {
                    arr = para[i].split("=");
                    res[arr[0]] = decodeURI(decodeURI(arr[1]))
                }
            }
            return res;
        };
        // 切token
        function getUrlParam(param) {
            var aa = parseURL(param),
                url = param.split("?")[0],
                paramString = "?";
            delete aa.token;
            if (Object.keys(aa) == 1) {
                Object.keys(aa).forEach(function (v) {
                    paramString = paramString + v + "=" + aa[v];
                })
            } else {
                for (var i = 0; i < Object.keys(aa).length; i++) {
                    if (i == Object.keys(aa).length - 1) {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]];
                    } else {
                        paramString = paramString + Object.keys(aa)[i] + "=" + aa[Object.keys(aa)[i]] + "&";
                    }
                }
            }
            if (paramString != "?") {
                url += paramString;
            }
            return url;
        }
        token();
    </script>
    <!-- 公用css -->
    <link rel="stylesheet" href="./../assets/css/common/reset.css">
    <link rel="stylesheet" href="./../assets/css/common/base.css">
    <link rel="stylesheet" href="./../assets/css/dist/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="./../assets/css/dist/dialog.css">
    <link rel="stylesheet" href="./../assets/css/forecast.css">
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="scroller">
                <div class="forecast_banner swiper-container">
                    <div class="swiper-wrapper">
                        <!-- <div class="swiper-slide forecast_img2" style="background-image: url(./../images/forecast/bg_2.png);background-position: center;background-size: cover;"></div> -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                
                <div class="sign side_btn"><a class="sign_link" href="./expert.html?expertTabIndex=2">欢迎免费参加博智宏观论坛月度闭门会议</a></div>
                <div class="system_describtion side_btn"><a class="system_describtion_link" href="./pages/system_describe.html">系统指引</a></div>
                <div class="forecast_title">
                    <section class="tabSelect">
                        <ul class="tabs clear"></ul>
                    </section>
                </div>
                <div class="forecast_content">
                </div>
                <div class="invite_bg">
                    <div class="invite">
                        <div class="closeBtn">
                            <img src="./../assets/images/invite/close.png">
                        </div>
                        <div class="con">
                            <p>欢迎大家邀请好友成为腾景会员</p>
                            <p>每成功邀请<span>1</span>位会员，您将获得<span>5</span>金币</p>
                            <p>成功邀请<span>5</span>位会员，您将额外获得<span>1</span>个月体验期</p>
                            <p>所邀会员购买金币的<span>20%</span>，将作为奖励发放至您的账户</p>
                            <button class="btn">立即邀请</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <a href="./forecast.html" class="activehome">
                <em class="tab_forecast"></em>
                <span>预测</span>
            </a>
            <a href="./participation.html">
                <em class="tab_participation"></em>
                <span>参与</span>
            </a>
            <a href="./expert.html">
                <em class="tab_expert"></em>
                <span>专家</span>
            </a>
            <a href="./information.html">
                <em class="tab_information"></em>
                <span>资讯</span>
            </a>
            <a href="./myself.html">
                <em class="tab_myself"></em>
                <span>我的</span>
            </a>
        </footer>
    </div>
    <!--移动端适配-->
    <script type="text/javascript" src="./../assets/js/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../assets/js/dist/swiper-3.4.2.min.js"></script>
    <script type="text/javascript" src="./../assets/js/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="./../assets/js/dist/dialog.js"></script>
    <script type="text/javascript" src="./../assets/js/common/sizerem.js"></script>
    <script type="text/javascript" src="./../assets/js/common/common.js"></script>
    <script type="text/javascript" src="./../assets/js/forecast.js"></script>
</body>

</html>